
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Ulaval_projects.iml
.idea/vcs.xml
*.pyc
*.xml
*.iml
*.pyc
*.pyc
PHY-2007_physique_atomique/Projet/__pycache__/QuantumFactory.cpython-37.pyc
